.leaflet-map .leaflet-control-attribution {
    display: none !important;
}

.leaflet-map .leaflet-area-tooltip {
    font-size: 16px;
    background: rgba(255,255,255,.1) !important;
    font-weight: bold;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.leaflet-map.leaflet-container {
    background-color: /*rgba(0,0,0,0.0)*/ #f8f9fa !important;
}

.leaflet-map .leaflet-div-icon.leaflet-editing-icon {
    border-radius: 50%;
}

.disable-bar-transition .MuiLinearProgress-bar {
    transition: none;
}

.loading-component {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.not-enough-data-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(255,255,255,.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1001;
}

.editable-text-field {
    border: 0;
    background: transparent;
    text-align: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    padding: 8px;
}