.leaflet-map .leaflet-control-attribution {
    display: none !important;
}

.leaflet-map .leaflet-area-tooltip {
    font-size: 16px;
    background: rgba(255,255,255,.1) !important;
    font-weight: bold;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.leaflet-map.leaflet-container {
    background-color: /*rgba(0,0,0,0.0)*/ #f8f9fa !important;
}

.disable-bar-transition .MuiLinearProgress-bar {
    transition: none;
}